@charset "UTF-8";
.sec {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .sec {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

a:hover {
  opacity: 0.7;
}

.section-ttl {
  font-size: 48px;
  font-weight: 700;
  padding: 0 0 28px;
  margin: 0;
  position: relative;
  text-align: center;
  line-height: 1;
}

.section-ttl::after {
  content: "";
  background: #3f51b5;
  width: 60px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  .section-ttl::after {
    width: 48px;
  }
}

@media (max-width: 1247px) {
  .section-ttl {
    font-size: 50px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .section-ttl {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1247px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.header {
  background-color: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 100px;
}

.header_inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_inner img {
  height: 40px;
}

.header_inner .header_nav {
  margin-left: auto;
}

@media (max-width: 1247px) {
  .header_inner .header_nav {
    display: none;
  }
}

.header_inner .header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_inner .header_nav li {
  margin-right: 40px;
}

.header_inner .header_nav li:last-child {
  margin-right: 0;
}

.header_inner .header_nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.header_inner .header_nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #e81919;
  opacity: 0;
}

.header_inner .header_nav li a:hover::after {
  opacity: 1;
}

.header_inner_hum {
  display: none;
}

@media (max-width: 1247px) {
  .header_inner_hum {
    display: block;
    margin-left: auto;
  }
  .header_inner_hum span {
    width: 40px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 0 0 .5rem;
  }
}

.mainvisual {
  margin: 100px 0 0;
  height: 600px;
  width: 100%;
  background: transparent url(../img/mainvisual.png) no-repeat top center/cover;
  position: relative;
  overflow: hidden;
}

.mainvisual_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

.mainvisual_title {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 1247px) {
  .mainvisual_title {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .mainvisual_title {
    font-size: 36px;
  }
}

.mainvisual_lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}

.mainvisual_button {
  margin-top: 36px;
}

.button-mainvisual {
  display: inline-block;
  background: #3f51b5;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 22px 24px;
  border-radius: 8px;
  font-size: 24px;
  width: 384px;
  max-width: 100%;
}

.card {
  background-color: #efefef;
}

.card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
}

@media (max-width: 767px) {
  .card-items {
    margin-top: 30px;
  }
}

.card-item {
  width: calc(33.33333333% - 24px * 2 / 3);
  margin-right: 24px;
  margin-top: 24px;
}

.card-item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1247px) {
  .card-item {
    width: calc(50% - 24px / 2);
  }
  .card-item:nth-child(3n) {
    margin-right: 24px;
  }
  .card-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .card-item {
    width: 100%;
    margin-right: 0;
  }
  .card-item:nth-child(3n) {
    margin-right: 0;
  }
}

.media-img {
  text-align: center;
}

.media-img img {
  vertical-align: bottom;
  height: 195px;
  width: 352px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}

.media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px 16px 14px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media .media-ttl {
  color: #6F7579;
  font-size: 20px;
  margin-bottom: 16px;
}

.media .media-content {
  color: #6F7579;
}

.news-inner {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.news-items {
  margin: 80px auto 60px;
}

@media (max-width: 767px) {
  .news-items {
    margin-top: 38px;
    margin-bottom: 28px;
  }
}

.news-item {
  border-bottom: 1px solid #707070;
}

.news-item:last-child {
  border: none;
}

.info {
  padding: 20px  0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .info {
    display: block;
    padding: 12px 0;
  }
}

.info-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

@media (max-width: 767px) {
  .info-meta {
    width: 100%;
  }
}

.info-published {
  width: 105px;
  line-height: 1.6875;
}

@media (max-width: 767px) {
  .info-published {
    width: auto;
  }
}

.info-label {
  width: 80px;
}

.info-label a {
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  background: #666;
  font: normal normal bold 16px/23px YuGothic;
  line-height: 1.4375;
}

.info-label.can1 a {
  background-color: red;
}

.info-label.can2 a {
  background-color: blue;
}

.info-ttl {
  line-height: 1.25;
  width: calc(100% - 185px);
  padding-left: 20px;
}

.info-ttl a {
  text-decoration: none;
  color: #333;
}

.news-link {
  text-align: center;
}

.news-link a {
  text-decoration: none;
  color: #e81919;
  font: normal normal bold 16px/27px YuGothic;
}

.news-link a::after {
  content: "";
  width: 7px;
  height: 11px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  background: transparent url(../img/news-arrow.svg) no-repeat center center/contain;
}

.map-iframe {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;
}

@media (max-width: 767px) {
  .map-iframe {
    margin-top: 60px;
  }
}

.map-iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.map-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.map-info {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  max-width: 100%;
}

.map-info dt,
.map-info dd {
  padding-top: 16px;
}

.map-info dt {
  width: 104px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .map-info dt {
    width: 92px;
  }
}

.map-info dd {
  width: calc(100% - 104px);
}

@media (max-width: 767px) {
  .map-info dd {
    width: calc(100% - 92px);
  }
}

.map-link {
  text-align: center;
  margin-top: 30px;
}

.button {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  text-decoration: none;
  width: 304px;
  padding: 20px 0;
  color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  background: #3f51b5 url(../img/button-arrow.svg) no-repeat center right 12px/17px 16px;
}

.price {
  background-color: #efefef;
}

.table-content {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1247px) {
  .table-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
    margin: 38px 0 0 0;
  }
}

.table-img {
  margin-right: 40px;
}

.table-img img {
  width: 454px;
}

@media (max-width: 1247px) {
  .table-img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .table-img {
    width: 100%;
  }
}

.table-price {
  width: 704px;
}

@media (max-width: 1247px) {
  .table-price {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .table-price {
    width: 100%;
  }
}

.table-default {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #707070;
  border-collapse: collapse;
  background: #fff;
}

.table-default th,
.table-default td {
  padding: 17px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 700;
}

.table-default th {
  text-align: center;
  background: #999;
  font-weight: 700;
  color: #fff;
}

.table-default th:first-child {
  width: 170px;
}

@media (max-width: 1247px) {
  .table-default th:first-child {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .table-default th:first-child {
    width: 80px;
  }
}

.table-default td {
  text-align: right;
}

.table-default td span.m-active {
  color: #e81919;
  font-weight: bold;
}

.table-default td span.m-small {
  font-weight: 700;
}

.table-attention {
  font-size: 14px;
  text-align: left;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-top: 12px;
}

.table-attention a {
  font-weight: bold;
  color: #333333;
}

.contact {
  background-color: #efefef;
}

.contact-item {
  margin: 80px auto 0;
  padding: 60px;
  background-color: #fff;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .contact-item {
    padding: 20px;
    margin-top: 40px;
  }
}

.contact-control {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-control {
    display: block;
    margin-bottom: 24px;
  }
}

.contact-control:last-child {
  margin-bottom: 0;
}

.contact-control dt {
  width: 160px;
}

@media (max-width: 767px) {
  .contact-control dt {
    width: 100%;
  }
}

.contact-control dd {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767px) {
  .contact-control dd {
    width: 100%;
    margin-top: 8px;
  }
}

.contact-label {
  font-size: 16px;
  font-weight: 700;
}

.abc {
  position: relative;
}

.abc::after {
  content: "必須";
  position: absolute;
  background: #e81919;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  padding: 4px 8px;
  width: 44px;
  display: block;
  top: calc(100% + 8px);
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .abc::after {
    top: -3px;
    left: calc(100% + 8px);
    line-height: 1;
  }
}

.form-name {
  width: 100%;
  border: 1px solid #707070;
  padding: 4px 16px;
  background-color: transparent;
  font-size: 14px;
  height: 38px;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent url(../img/select-arrow.svg) no-repeat center right 12px/17px 14px;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 16px;
  width: 100%;
  border: 1px solid #707070;
  height: 38px;
}

.form-select:invalid {
  color: #cccccc;
}

.form-textarea {
  width: 100%;
  height: 240px;
  border: 1px solid #707070;
  padding: 12px 16px;
  line-height: 1.71429;
  font-size: 14px;
  vertical-align: bottom;
}

@media (max-width: 767px) {
  .form-textarea {
    height: 180px;
  }
}

.contact__submit {
  text-align: center;
  margin-top: 30px;
}

.contact__radio {
  margin: 33px 0 60px;
}

@media (max-width: 767px) {
  .contact__radio {
    margin-bottom: 30px;
  }
}

.form-radio {
  display: none;
}

.form-radio + span {
  cursor: pointer;
  display: inline-block;
  padding-left: 28px;
  position: relative;
}

.form-radio + span::before, .form-radio + span::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-radio + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
}

.form-radio + span::after {
  background: #3f51b5;
  border: 1px solid transparent;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-radio:checked + span::after {
  opacity: 1;
}

.contact__check {
  text-align: center;
  font-size: 16px;
  line-height: 1.6875;
}

.contact__check a {
  font-weight: bold;
  color: #333333;
}

.form-checkbox {
  display: none;
}

.form-checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

@media (max-width: 767px) {
  .form-checkbox + span {
    padding-left: 46px;
  }
}

.form-checkbox + span::before, .form-checkbox + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-checkbox + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 25px;
  height: 25px;
}

.form-checkbox + span::after {
  border: 1px solid transparent;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url(../img/check.svg) no-repeat center center/contain;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-checkbox:checked + span::after {
  opacity: 1;
}

.totop {
  position: fixed;
  z-index: 1;
  right: 24px;
  bottom: 24px;
}

@media (max-width: 1247px) {
  .totop {
    right: 16px;
    bottom: 16px;
  }
}

@media (max-width: 767px) {
  .totop {
    right: 10px;
    bottom: 10px;
  }
}

.footer {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  padding: 60px 0 24px;
}

.footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 46px;
}

@media (max-width: 767px) {
  .footer-contents {
    display: block;
  }
}

.footer-left {
  width: 30%;
}

@media (max-width: 767px) {
  .footer-left {
    width: 100%;
    padding: 0;
  }
}

.footer-left img {
  width: 205px;
}

.footer-left .footer-info {
  margin-top: 32px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 14px/24px YuGothic;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.footer-left .footer-info p {
  padding-bottom: 14px;
  font-size: 14px;
}

.footer-center {
  width: 50%;
}

@media (max-width: 767px) {
  .footer-center {
    width: 100%;
    margin-top: 52px;
    padding: 0;
  }
}

.footer-center .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1247px) {
  .footer-center .footer-nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-center .footer-nav ul li {
  margin-right: 40px;
  font-size: 16px;
}

@media (max-width: 1247px) {
  .footer-center .footer-nav ul li {
    margin-right: 20px;
  }
}

.footer-center .footer-nav ul li:last-child {
  margin-right: 0px;
}

.footer-center .footer-nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-right {
  width: 20%;
}

@media (max-width: 1247px) {
  .footer-right {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .footer-right {
    width: 100%;
    margin-top: 24px;
    padding: 0;
  }
}

.footer-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-right ul li {
  margin-left: 16px;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
