.map-iframe {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;

  @include mq("sp") {
    margin-top: 60px;
  }
}

.map-iframe-wrap {
  width: 100%;
  padding-top: 400 / 800 * 100%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.map-info {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  max-width: 100%;

  dt,
  dd {
    padding-top: 16px;
  }
  dt {
    width: 104px;
    font-weight: 700;

    @include mq("sp") {
      width: 92px;
    }
  }

  dd {
    width: calc(100% - 104px);

    @include mq("sp") {
      width: calc(100% - 92px);
    }
  }
}

.map-link {
  text-align: center;
  margin-top: 30px;
}

.button {
	display: inline-block;
	max-width: 100%;
  font-weight: 700;
	text-decoration: none;
	width: 304px;
	padding: 20px 0;
	color: #fff;
	border-radius: 8px;
	box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  background: $color-main url(../img/button-arrow.svg) no-repeat center right 12px / 17px 16px;
}