.card {
  background-color: #efefef;
}
.card-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;

  @include mq("sp") {
    margin-top: 30px;
  }
}

.card-item {
  width: calc(33.33333333% - 24px * 2 / 3);
  margin-right: 24px;
  margin-top: 24px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include mq("tab") {
    width: calc(50% - 24px / 2);

    &:nth-child(3n) {
      margin-right: 24px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include mq("sp") {
    width: 100%;
    margin-right: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.media-img {
  text-align: center;

  img {
    vertical-align: bottom;
    height: 195px;
    width: 352px;
    object-fit: cover;
    margin-bottom: 16px;
  }
}

.media {
	overflow: hidden;
	background: #fff;
	border-radius: 4px;
	padding: 16px 16px 14px;
	display: block;
	text-decoration: none;
  transition: all 0.3s ease 0s;

  .media-ttl{
     color: #6F7579;
     font-size: 20px;
     margin-bottom: 16px;
  }
  .media-content{
    color: #6F7579;
  }
}
 

