.totop{
  position: fixed;
  z-index: 1;
  right: 24px;
  bottom: 24px;
  	@include mq('tab') {
		right: 16px;
		bottom: 16px;
	}

	@include mq('sp') {
		right: 10px;
		bottom: 10px;
	}
}

.footer {
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0%
    0% no-repeat padding-box;
  padding: 60px 0 24px;
}
.footer-contents {
  display: flex;
  padding-bottom: 46px;
  @include mq('sp') {
		display: block;
	}
}
.footer-left {
  width: 30%;
  @include mq('sp') {
		width: 100%;
		padding: 0;
	}
  img {
    width: 205px;
  }
  .footer-info {
    margin-top: 32px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-medium) var(--unnamed-font-size-14) /
      var(--unnamed-line-spacing-24) var(--unnamed-font-family-yugothic);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 14px/24px YuGothic;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    p {
      padding-bottom: 14px;
      font-size: 14px;
    }
  }
}
.footer-center {
  width: 50%;
  @include mq('sp') {
		width: 100%;
		margin-top: 52px;
		padding: 0;
	}
  .footer-nav {
    ul {
      display: flex;
      @include mq('tab'){
          justify-content: space-around;
        }
      li {
        margin-right: 40px;
        font-size: 16px;
        @include mq('tab'){
          margin-right: 20px;
        }
        &:last-child{
          margin-right: 0px;
        }
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}
.footer-right {
  width: 20%;
  @include mq('tab') {
		padding-left: 10px;
		padding-right: 10px;
	}

	@include mq('sp') {
		width: 100%;
		margin-top: 24px;
		padding: 0;
	}
  ul{
    display: flex;
    justify-content: flex-end;
    li{
      margin-left: 16px;
    }
  }
}

.footer-copy{
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
