.news-inner{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.news-items{
  margin: 80px auto 60px;
  @include mq('sp'){
    margin-top: 38px;
    margin-bottom: 28px;
  }
}
.news-item{
  border-bottom: 1px solid #707070;
  &:last-child{
    border: none;
  }
}

.info {
	padding: 20px  0 12px;
  display: flex;
  @include mq('sp'){
    display: block;
    padding: 12px 0;
  }
}

.info-meta{
  display: flex;
  width: 185px;

  @include mq('sp') {
		width: 100%;
	}
}

.info-published{
  width: 105px;
  line-height: (27 / 16);

  @include mq('sp') {
		width: auto;
	}
}
.info-label{
  width: 80px;

  a{
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
		text-decoration: none;
    background: #666;
    font: normal normal bold 16px/23px YuGothic;
    line-height: (23 / 16);
  }
  &.can1{
    a{
      background-color: red;
    }
  }
  &.can2{
    a{
      background-color: blue;
    }
  }
}

.info-ttl{
  line-height: (20 / 16);
  width: calc(100% - 185px);
  padding-left: 20px;
  a{
    text-decoration: none;
    color: $color-text-base;
  }
}

.news-link{
  text-align: center;
  a{
    text-decoration: none;
    color: $color-active;
    font: normal normal bold 16px/27px YuGothic;

    &::after{
      content: "";
			width: 7px;
			height: 11px;
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
			background: transparent url(../img/news-arrow.svg) no-repeat center center / contain;
    }
  }
}
