.price {
  background-color: #efefef;
}
.table-content {
  margin-top: 80px;
  display: flex;

  @include mq("tab") {
    flex-flow: column;
    text-align: center;
    margin:38px 0 0 0;
  }
}

.table-img {
  margin-right: 40px;
  img {
    width: 454px;
  }

  @include mq("tab") {
    width: 100%;
    
  }

  @include mq("sp") {
    width: 100%;
  }
}
.table-price {
  width: 704px;

  @include mq("tab") {
    margin-top: 30px;
    width: 100%;
  }

  @include mq("sp") {
    width: 100%;
    
  }
}

.table-default {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #707070;
  border-collapse: collapse;
  background: #fff;

  th,
  td {
    padding: 17px 24px;
    border: 1px solid #707070;
    vertical-align: middle;
    line-height: 1.2;
    font-weight: 700;
  }

  th {
    text-align: center;
    background: #999;
    font-weight: 700;
    color: #fff;

    &:first-child {
      width: 170px;
      @include mq("tab") {
        width: 100px;
      }

      @include mq("sp") {
        width: 80px;
      }
    }
  }
  td {
    text-align: right;
    span {
      &.m-active {
        color: $color-active;
        font-weight: bold;
      }
      &.m-small {
        font-weight: 700;
      }
    }
  }
}

.table-attention {
  font-size: 14px;
  text-align: left;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-top: 12px;
  a {
    font-weight: bold;
    color: #333333;
  }
}
